.uagb-slick-carousel {
  .uagb-post__items {
    margin: 0;
    article {
      padding: 0;
      margin: 0;
    }
  }
  padding: inherit;
  .uagb-post__inner-wrap {
    height: 90vh;
    padding: 36vh 20vw 0 11vw;
    @include media($until: 'sm') {
      padding-top: toRem(200);
    }
    .uagb-post__image {
      &::before {
        background-color: transparent;
        opacity: 1;
      }
    }
    .uagb-post__title {
      a {
        color: $white;
        &:hover {
          border: 0;
        }
      }
    }
    .uagb-post__text {
      .wp-block-button__link {
        color: $black;
        background-color: $yellow;
        padding: toRem(10) toRem(20) toRem(6);

        @include dpf-button($black, $yellow, 0, 50);

        &:hover {
          background-image: escape-svg($arrow-right-black);
          background-position: 90% 50%;
          padding-right: 80px;
        }
      }
    }
  }
  &.uagb-post__arrow-outside {
    &.uagb-post-grid {
      .slick-next,
      .slick-prev {
        top: 80vh;
        @include media($from: 'md', $until: 'xl') {
          top: 81.2vh;
        }
        @include media($until: 'sm') {
          top: 74vh;
        }
        left: 0;
        background-repeat: no-repeat;
        background-size: toRem(116);
        width: toRem(45);
        height: toRem(45);
        border: toRem($border-width) solid white;
        border-radius: 50%;
        svg {
          display: none;
        }
        &::before {
          content: '';
        }
        &:hover {
          margin-top: 0;
        }
      }
      .slick-next {
        margin-left: 14.5vw;
        background-image: escape-svg($carousel-next-btn);
        &:hover {
          background-image: escape-svg($carousel-next-fill-btn);
          border: 0;
        }
      }

      .slick-prev {
        margin-left: 11vw;
        background-image: escape-svg($carousel-prev-btn);
        &:hover {
          background-image: escape-svg($carousel-prev-fill-btn);
          border: 0;
        }
      }
    }
  }
  &.uagb-post-grid {
    ul.slick-dots {
      top: 75.6vh;
      text-align: left;
      display: inline-block;
      left: 16.8vw;
      @include media($from: 'md', $until: 'xl') {
        left: 19.4vw;
      }
      @include media($until: 'sm') {
        left: 3vw;
      }
      width: inherit;
      bottom: inherit;
      li {
        margin-right: toRem(10);
        button {
          &:before {
            content: '';
            background-color: transparent;
            opacity: 1;
            width: toRem(18);
            height: toRem(18);
            border: toRem($border-width) solid $white;
            border-radius: 50%;
          }
          &:hover {
            &:before {
              content: '';
              background-color: $white;
              margin-top: 0;
              border: 0;
            }
          }
        }
        &.slick-active {
          button {
            &::before {
              content: '';
              background-color: white;
              opacity: 1;
              margin-top: 0;
              border: 0;
            }
          }
        }
      }
    }
  }
}

.cases-carousel-multicol {
  padding-top: toRem(60);
  padding-bottom: toRem(60);
  background-color: $lightgrey;
  border: solid toRem(40) $white;
  @include media($until: 'sm') {
    border: solid toRem(20) $white;
  }
  .container {
    @include media($until: 'sm') {
      padding: toRem(5);
    }
  }
  .uagb-slick-carousel {
    padding: 0;
    .uagb-post__items {
      margin-right: -282px;
      @include media($until: 'sm') {
        margin-right: inherit;
      }
      .slick-list {
        .slick-track {
          .slick-slide {
            height: auto;
            margin-right: 20px;
            @include media($until: 'sm') {
              margin-right: inherit;
            }

            .uagb-post__inner-wrap {
              padding: toRem(40);
              @include media($until: 'sm') {
                padding: toRem(20);
              }
              height: toRem(550);
              @include media($until: 'xl') {
                height: toRem(450);
              }

              .uagb-post__image {
                &::before {
                  background-color: transparent;
                  opacity: 1;
                }
              }
              .uagb-post__text {
                overflow: inherit;
                .uagb-post__title {
                  font-family: 'Poppins Bold';
                  margin-top: toRem(40);
                  a {
                    font-size: inherit;
                    color: $white;
                    &:hover {
                      border: 0;
                    }
                  }
                }
                .uagb-post__excerpt {
                  @include media($until: 'sm') {
                    margin-right: toRem(50);
                  }
                }
                .uagb-post-grid-byline {
                  a {
                    color: $white;
                    font-size: toRem(16);
                  }
                }
                &:nth-child(4) {
                  position: absolute;
                  top: 30px;
                }
                &:last-child {
                  position: absolute;
                  top: inherit;
                  bottom: 0;
                  display: block;
                  color: $white;
                  width: toRem(310);
                  @include media($until: 'xl') {
                    width: toRem(220);
                  }
                }
              }
            }
          }
        }
      }
    }

    &.uagb-post__arrow-outside {
      &.uagb-post-grid {
        .slick-next,
        .slick-prev {
          margin-left: inherit;
          @include media($until: 'sm') {
            display: none !important;
          }
          position: relative;
          bottom: toRem(-60);
          border: toRem($border-width) solid $black;
          &:hover {
            background-size: toRem(103);
          }
        }
        .slick-next {
          top: inherit;
          left: toRem(58);
          background-image: escape-svg($carousel-next-btn-black);
          &:hover {
            background-image: escape-svg($carousel-next-fill-btn-black);
          }
        }
        .slick-prev {
          position: absolute;
          top: inherit;
          left: 0;
          background-image: escape-svg($carousel-prev-btn-black);

          &:hover {
            background-image: escape-svg($carousel-prev-fill-btn-black);
          }
        }
      }
    }
    &.uagb-post-grid {
      ul.slick-dots {
        top: inherit;
        left: toRem(100);
        @include media($until: 'sm') {
          left: 0;
          padding-top: toRem(5);
          padding-left: 0;
        }
        bottom: toRem(1);
        li {
          button {
            &:before {
              content: '';
              border: toRem($border-width) solid $black;
            }
            &:hover {
              &:before {
                content: '';
                background-color: $black;
              }
            }
          }
          &.slick-active {
            button {
              &::before {
                content: '';
                background-color: $black;
              }
            }
          }
        }
      }
    }
  }
  + .cases-carousel-multicol,
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
