.uagb-slick-carousel {
  .uagb-post__items {
    margin: 0;
    article {
      padding: 0;
      margin: 0;
    }
  }
  padding: inherit;
  .uagb-post__inner-wrap {
    height: 90vh;
    padding: 36vh 20vw 0 11vw;

    .uagb-post__image {
      &::before {
        background-color: transparent;
        opacity: 1;
      }
    }
    .uagb-post__title {
      a {
        color: $white;
        &:hover {
          border: 0;
        }
      }
    }
    .uagb-post__text {
      .wp-block-button__link {
        color: $black;
        background-color: $yellow;
        padding: toRem(10) toRem(20) toRem(6);

        @include dpf-button($black, $yellow, 0, 50);

        &:hover {
          background-image: escape-svg($arrow-right-black);
          background-position: 90% 50%;
          padding-right: 80px;
        }
      }
    }
  }
  &.uagb-post__arrow-outside {
    &.uagb-post-grid {
      .slick-next,
      .slick-prev {
        top: 90%;
        margin-left: 11%;
        right: inherit;
        @include media($until: 'md') {
          display: none !important;
        }

        background-repeat: no-repeat;
        background-size: toRem(116);
        width: toRem(45);
        height: toRem(45);
        border: toRem($border-width) solid white;
        border-radius: 50%;
        svg {
          display: none;
        }
        &::before {
          content: '';
        }
        &:hover {
          margin-top: 0;
        }
      }
      .slick-next {
        left: toRem(15);
        @include media($until: 'lg') {
          left: toRem(70);
        }
        background-image: escape-svg($carousel-next-btn);
        &:hover {
          background-image: escape-svg($carousel-next-fill-btn);
          border: 0;
        }
      }

      .slick-prev {
        background-image: escape-svg($carousel-prev-btn);
        &:hover {
          background-image: escape-svg($carousel-prev-fill-btn);
          border: 0;
        }
      }
    }
  }
  &.uagb-post-grid {
    ul.slick-dots {
      top: 85.3%;
      text-align: left;
      display: inline-block;
      left: 16.8vw;
      @include media($from: 'lg', $until: 'xl') {
        left: 23vw;
      }
      @include media($from: 'md', $until: 'lg') {
        left: 25vw;
      }
      @include media($from: 'sm', $until: 'md') {
        left: 20vw;
      }
      @include media($until: 'md') {
        top: 80%;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
      }
      width: inherit;
      bottom: inherit;
      li {
        margin-right: toRem(10);
        button {
          &:before {
            content: '';
            background-color: transparent;
            opacity: 1;
            width: toRem(18);
            height: toRem(18);
            border: toRem($border-width) solid $white;
            border-radius: 50%;
          }
          &:hover {
            &:before {
              content: '';
              background-color: $white;
              margin-top: 0;
              border: 0;
            }
          }
        }
        &.slick-active {
          button {
            &::before {
              content: '';
              background-color: white;
              opacity: 1;
              margin-top: 0;
              border: 0;
            }
          }
        }
      }
    }
  }
}

.cases-carousel-multicol {
  padding-top: toRem(60);
  padding-bottom: toRem(60);
  background-color: $lightgrey;
  border: solid toRem(40) $white;
  @include media($until: 'sm') {
    border: solid toRem(20) $white;
  }
  .container {
    margin: toRem(80) auto toRem(100);
    @include media($until: 'sm') {
      margin: toRem(60) auto toRem(100);
      padding: toRem(5);
    }
  }
  .uagb-slick-carousel {
    padding: 0;
    .uagb-post__items {
      margin-right: -282px;

      .slick-list {
        .slick-track {
          .slick-slide {
            height: auto;
            margin-right: 20px;

            @include casesBoxItem();
          }
        }
      }
    }

    &.uagb-post__arrow-outside {
      &.uagb-post-grid {
        .slick-next,
        .slick-prev {
          margin-left: inherit;
          @include media($until: 'sm') {
            display: none !important;
          }
          position: relative;
          bottom: toRem(-60);
          border: toRem($border-width) solid $black;
          &:hover {
            background-size: toRem(103);
          }
        }
        .slick-next {
          top: inherit;
          left: toRem(58);
          background-image: escape-svg($carousel-next-btn-black);
          &:hover {
            background-image: escape-svg($carousel-next-fill-btn-black);
          }
        }
        .slick-prev {
          position: absolute;
          top: inherit;
          left: 0;
          background-image: escape-svg($carousel-prev-btn-black);

          &:hover {
            background-image: escape-svg($carousel-prev-fill-btn-black);
          }
        }
      }
    }
    &.uagb-post-grid {
      ul.slick-dots {
        top: inherit;
        left: toRem(100);
        @include media($until: 'sm') {
          left: 0;
          padding-top: toRem(20);
          padding-left: 0;
          width: 80vw;
          right: inherit;
        }
        bottom: toRem(1);
        li {
          button {
            &:before {
              content: '';
              border: toRem($border-width) solid $black;
            }
            &:hover {
              &:before {
                content: '';
                background-color: $black;
              }
            }
          }
          &.slick-active {
            button {
              &::before {
                content: '';
                background-color: $black;
              }
            }
          }
        }
      }
    }
  }
  + .cases-carousel-multicol,
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
