.dpf-table {
  border: solid toRem(40) $white;
  padding-left: toRem(11) !important;
  padding-right: toRem(11) !important;
  background-color: $black;
  @include media($until: 'sm') {
    border: solid toRem(20) $white;
  }

  color: $white;
  .uagb-section__inner-wrap {
    > .row {
      border-bottom: 2px solid $white;
      > .wp-block-column {
        padding: 40px 70px 0;
        @include media($until: 'xxl') {
          padding: 40px 40px 0;
        }
        p {
          font-size: toRem(20);
          strong {
            font-family: 'Poppins SemiBold';
          }
        }
        @include media($until: 'xl') {
          padding: 40px 60px 0;
          p {
            text-align: left;
          }
        }
        @include media($until: 'sm') {
          padding: 30px 15px;
        }
        &:first-child {
          border-right: 2px solid $white;
          @include media($until: 'md') {
            border-bottom: 2px solid $white;
          }
        }
        .wp-block-group {
          &.container {
            .wp-block-group__inner-container {
              .wp-block-columns {
                .wp-block-column {
                  &:first-child {
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
