footer {
  color: white;
  background-color: $lightgrey;
  padding: toRem(80);
  @include media($until: 'sm') {
    padding: toRem(80) toRem(20);
  }
  @include media($from: 'sm', $until: 'lg') {
    padding: toRem(80) toRem(30);
  }
  font-size: toRem(25);
  margin-top: toRem(100);
  a {
    color: white;
    text-decoration: none;
    border: 0;
    &:hover {
      color: white;
      border-bottom: 1px solid white;
    }
  }
  .address {
    @include media($until: 'sm') {
      margin-bottom: toRem(60);
      span {
        display: block;
        &.tel-email {
          margin-top: toRem(40);
        }
      }
    }
  }
  .socialicons {
    text-align: right;
    @include media($until: 'sm') {
      text-align: left;
    }
    a {
      &:hover {
        border: 0;
      }
    }
    .twitter {
      margin-right: toRem(16);
    }
  }
}
