/* Global styles */
html,
body {
  overflow-x: hidden !important;
  width: 100vw !important;
}

body {
  background-color: $white;
  color: $black;
  margin: 0;
}

/* a-tag href content */

a,
button {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $orange;
  }
}

/* form input */

/* text formatting */

/* headings  */

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: toRem(90);
  @include media($from: 'sm', $until: 'lg') {
    font-size: toRem(65);
  }
  @include media($until: 'sm') {
    font-size: toRem(50);
    line-height: 1.1;
  }
  margin-bottom: toRem(40);
}
h2 {
  font-size: toRem(60);
  @include media($until: 'sm') {
    font-size: toRem(40);
  }
  margin-top: toRem(40);
  margin-bottom: toRem(30);
}
h3 {
  font-size: toRem(45);
  margin-bottom: toRem(30);
}
h4 {
  font-size: toRem(22);
  margin-bottom: toRem(40);
  a {
    text-transform: none;
  }
  + h2 {
    margin-top: 0;
  }
}

/* Zitat */
blockquote {
  p {
    font-size: toRem(30);
    @include media($until: 'sm') {
      font-size: toRem(25);
    }
    margin-bottom: toRem(40);
  }
}

/* paragraph */
p {
  font-size: toRem(20);
  margin-bottom: toRem(40);
}

section {
  .wp-block-column {
    p {
      a {
        border-bottom: 2px solid $black;
        &:hover {
          border-bottom: 0;
        }
      }
    }
  }
}

/* forms */

input {
  color: $black;
  border: 0;
  border-radius: toRem(50);
  padding: toRem(10) toRem(20);
  &::placeholder {
    color: $black;
    opacity: 1;
  }
  &[type='submit'] {
    background-color: $yellow;
  }
}
textarea:focus,
input:focus {
  outline: none;
}

/* lists in content elements */

ul,
ol {
  &.dpf-list {
    padding: 0;
    list-style: none;
    li {
      border-bottom: 2px solid $black;
      padding-bottom: toRem(15);
      margin-bottom: toRem(15);
      a {
        font-family: 'Poppins SemiBold';
        font-size: toRem(20);
        text-transform: uppercase;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

/* pages with white header set black logo and hamburger */
.page-id-12,
.single-case,
.single-post {
  .navbar {
    &.navbar-dark {
      .navbar-brand {
        svg {
          path {
            &[fill='#ffffff'] {
              fill: $black;
            }
          }
        }
      }
      .navbar-metanav {
        color: $black;
        border-color: $black;
        &:hover {
          color: $white;
          background-color: $black;
        }
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          background-image: escape-svg($navbar-light-toggler-icon-bg);
        }
      }
    }
  }
  h1 {
    margin-top: toRem(300);
    margin-bottom: 0;
    @include media($until: 'sm') {
      margin-top: toRem(150);
    }
  }
}
.navi-open {
  &.page-id-12,
  &.single-case,
  &.single-post {
    .navbar {
      &.navbar-dark {
        .navbar-brand {
          svg {
            path {
              &[fill='#ffffff'] {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
}

/* reset wordpress gutenberg styles */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
