html :where(.wp-block) {
  max-width: 100%;
  margin: 0;
}

body.page-editor-page .editor-post-title__block,
body.page-editor-page .editor-default-block-appender,
body.page-editor-page .editor-block-list__block {
  max-width: none !important;
}
.block-editor__container .wp-block {
  max-width: none !important;
}

html .wp-block .wp-block-column {
  //display: inherit;
  //margin: inherit !important;
  box-sizing: inherit !important;
  flex-wrap: inherit !important;
  align-items: inherit !important;
}

/* html .wp-block p {
  margin-bottom: 0 !important;
}

html .wp-block h2 {
  margin-bottom: inherit !important;
} */

/* buttons */

.wp-block-button__link {
  padding: toRem(14) toRem(20) toRem(10);
  cursor: pointer;
  @include dpf-button($black, $yellow, 0);
}

/* disable default styling */

.content-wrapper {
  .wp-block-columns {
    &:not(.is-not-stacked-on-mobile) {
      > .wp-block-column {
        flex-basis: inherit;
        flex-grow: inherit;
      }
    }
  }
}

/* colors */
.has-orange-color {
  color: $orange;
}

html .wp-block h2 {
  &.has-text-color {
    margin-bottom: 0 !important;
    + h2 {
      margin-top: 0 !important;
    }
  }
}
