html :where(.wp-block) {
  max-width: 100%;
  margin: 0;
}

body.page-editor-page .editor-post-title__block,
body.page-editor-page .editor-default-block-appender,
body.page-editor-page .editor-block-list__block {
  max-width: none !important;
}
.block-editor__container .wp-block {
  max-width: none !important;
}

html .wp-block-columns {
  display: inherit;
  margin-bottom: inherit;
  box-sizing: inherit;
  flex-wrap: inherit !important;
  align-items: inherit !important;
}

html .wp-block p {
  margin-bottom: 0 !important;
}

html .wp-block h2 {
  margin-top: 100px !important;
  margin-bottom: inherit !important;
}
