.header-2col-text-background-image {
  color: white;
  height: 90vh;
  background-position: top right;
  background-size: auto;
  @include media($until: 'lg') {
    padding-bottom: 350px !important;
    //background-position: center 350px !important;
    background-size: contain;
    background-position: bottom;
    height: inherit;
  }

  @include media($from: 'sm', $until: 'md') {
    padding-bottom: 450px !important;
    background-position: center 450px !important;
  }
  @include media($from: 'md', $until: 'lg') {
    padding-bottom: 500px !important;
    background-position: center 500px !important;
  }

  .container {
    @include media($until: 'sm') {
      padding: 14vh 0 0;
    }
  }
  a {
    color: white;
    @include media($until: 'sm') {
      margin-bottom: 69px;

      display: block;
    }

    &:before {
      content: '';
      background-image: escape-svg($arrow-left-white);

      background-size: 130%;
      background-repeat: no-repeat;
      padding-left: toRem(20);
      margin-right: toRem(20);
    }
    &:hover {
      border-bottom: 1px solid $white;
    }
  }

  .uagb-section__overlay {
    width: 50vw;
    @include media($until: 'lg') {
      width: 100vw;
      height: 60%;
    }
  }
  &.uagb-section__wrap {
    @include media($from: 'lg') {
      padding-top: inherit;
      padding-bottom: inherit;
    }
  }
  @include media($until: 'sm') {
    .uagb-section__inner-wrap {
      .wp-block-columns {
        &:first-child {
          .wp-block-column {
            .wp-block-group__inner-container {
              padding-top: 20px;
              padding-left: 30px;
              padding-right: 30px;
              h4 {
                margin-bottom: 20px;
              }
              p {
                font-size: toRem(20);
              }
            }
          }
        }
      }
    }
  }
  @include media($from: 'sm', $until: 'lg') {
    .uagb-section__inner-wrap {
      .wp-block-columns {
        .wp-block-column {
          margin-top: 100px;
        }
      }
    }
  }
}

/* 
* single view 
*/
.single-case,
.single-post {
  .read-more {
    display: none;
  }
  .header-2col-text-background-image {
    /* iphone se */
    /*     @include media($until: 376) {
      background-position: 0 100vh;
      height: 130vh;
    } */

    background-attachment: scroll;
    background-repeat: no-repeat;

    .uagb-section__overlay {
      background-color: $white;
    }
    .uagb-section__inner-wrap {
      width: 100%;
      .wp-block-columns {
        .wp-block-column {
          @include media($until: 'lg') {
            background-color: $white;
          }
          p {
            color: $black;
          }
        }
      }
    }
  }
}
