.images-gallery-with-links {
  padding: 0 !important;
  border: solid toRem(40) $white;
  margin-top: toRem(80);
  @include media($until: 'sm') {
    border: solid toRem(20) $white;
  }
  .uagb-section__inner-wrap {
    > .row {
      .col-12 {
        border-bottom: solid toRem(20) $white;
        .wp-block-cover {
          padding: toRem(40);
          .wp-block-cover__inner-container {
            p {
              font-size: toRem(20);
              margin: 0;
              text-transform: uppercase;
              a {
                font-family: 'Poppins SemiBold';
                color: $white !important;
                border-bottom: 0;
                &:hover {
                  border-color: $white;
                  border: 0;
                }
              }
            }
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: toRem(5);
      }
    }
  }
  &.logos {
    background-color: $lightgrey;
    margin-top: 0;
    img {
      object-fit: unset;
      padding: 0 15%;
      background-color: $white;
    }
    .wp-block-columns {
      @include media($until: 'xl') {
        margin-left: 0;
        margin-right: 0;
      }
      .wp-block-cover {
        padding: 0;
        margin-bottom: 25px;
        @include media($until: 'xl') {
          min-height: toRem(160);
        }
        @include media($from: 'xl') {
          min-height: toRem(240);
        }
      }
    }

    .uagb-section__inner-wrap {
      padding-top: 5rem;
      padding-bottom: 5rem;
      @include media($until: 'sm') {
        padding: 0;
      }
      .row {
        .col-12 {
          &:first-child {
            @include media($until: 'md') {
              border-bottom: 0;
            }
          }
        }
      }
      .wp-block-group {
        &:first-child {
          .wp-block-group__inner-container {
            .wp-block-column {
              @include media($until: 'sm') {
                padding: 0;
              }
            }
          }
        }
      }
    }
    .container {
      &:last-child {
        padding: 0;
      }
    }
  }
  &.square-format {
  }
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
