.images-1col-fullwidth {
  padding: 0 !important;
  // border: solid 40px $white;
  border-bottom: 20px solid transparent;
  @include media($until: 'lg') {
    border: 0;
    border-bottom: 20px solid transparent;
  }
  .col-12 {
    @include media($until: 'md') {
      border-bottom: solid 20px transparent;
    }
    @include media($until: 'sm') {
      border-bottom: solid 20px transparent;
    }

    .wp-block-cover {
      min-height: 730px;
      .wp-block-cover__inner-container {
        p {
          font-size: 20px;
          margin: 0;
        }
      }
    }
  }
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
