.images-1col-fullwidth {
  padding: 0 !important;
  border: solid toRem(40) $white;
  @include media($until: 'sm') {
    border: 0;
  }
  .col-12 {
    @include media($until: 'md') {
      border-bottom: solid toRem(20) $white;
    }
    @include media($until: 'sm') {
      border-bottom: solid toRem(20) transparent;
    }

    .wp-block-cover {
      min-height: toRem(730);
      .wp-block-cover__inner-container {
        p {
          font-size: toRem(20);
          margin: 0;
        }
      }
    }
  }
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
