.navbar {
  &.fixed-top {
    .navbar-brand {
      margin: 20px 0 0 35px;
    }
    .navbar-toggler {
      padding: 20px;
      font-size: 20px;
      line-height: 1;
      color: white;
      border: 0;
      &:focus {
        box-shadow: none;
      }
      .navbar-toggler-icon {
        transition: all 0.3s ease;
        background-image: escape-svg($navbar-dark-toggler-icon-bg);
      }
      &[aria-expanded='true'] {
        color: $main-color;
        .navbar-toggler-icon {
          transition: all 0.3s ease;
          background-image: escape-svg($navbar-dark-toggler-icon-bg-open);
        }
      }
    }
  }
}

.navbar-collapse {
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 1.5rem;
        color: $main-color;
        border: 0;
        &:hover {
          -webkit-text-fill-color: black;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
      &.current_page_item {
        .nav-link {
          -webkit-text-fill-color: black;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
    }
  }
}
