.image-header {
  background-position: top center;
  background-size: cover;
  position: relative;
  opacity: 1;
  height: 100vh;
  @include media($until: 'sm') {
    height: 60vh;
  }
  max-width: 100%;
  width: 100%;
  margin-bottom: 100px;
  svg {
    width: 40vw;
    margin: auto;
    display: block;
    padding-top: 10vh;
  }
}

.single-post {
  .image-header {
    height: toRem(300);
    /*     @include media($until: 'sm') {
      height: 60vh;
    } */
    svg {
      width: toRem(250);
    }
  }
}

.logo-link {
  a {
    border: 0;
  }
}

header {
  position: fixed;
  width: 100%;
  height: toRem(200);
  z-index: 100;
  background-color: transparent;

  .navbar-brand {
    width: toRem(130);

    display: inline-block;
  }
}

/* .image-header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */
