.page-child {
  .navbar {
    &.navbar-dark {
      .navbar-brand {
        background-color: $black;
        &.light {
          background-color: transparent;
        }
      }
    }
  }
}
.navbar {
  &.navbar-dark {
    padding: 0;
    .navbar-brand {
      margin: 20px 0 0 35px;
      svg {
        @include media($until: 'xl') {
          width: toRem(90);
        }
      }
    }
    .navbar-metanav {
      @include media($until: 'sm') {
        visibility: hidden !important;
      }
    }
    .navbar-toggler {
      padding: 20px 40px 20px 20px;
      font-size: 20px;
      line-height: 1;
      color: white;
      border: 0;
      transition: all 0.3s ease;
      &:focus {
        box-shadow: none;
      }
      .navbar-toggler-icon {
        transition: all 0.3s ease;
        background-image: escape-svg($navbar-dark-toggler-icon-bg);
      }
      &[aria-expanded='true'] {
        .navbar-toggler-icon {
          transition: all 0.3s ease;
          background-image: escape-svg($navbar-dark-toggler-icon-bg-open);
        }
      }
      &[aria-expanded='false'] {
        + .navbar-collapse {
          transform: scale(0);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.navbar-collapse {
  background-color: $black;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  right: -100%;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  @include media($until: 'lg') {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  @include media($until: 'xl') {
    padding-top: 14vh;
  }
  @include media($until: 'sm') {
    padding-top: 17vh;
  }
  &.show {
    transform: scale(1) !important;
    top: 0 !important;
    right: 0 !important;
  }
  &.collapsing {
    transition: none;
  }

  .navbar-nav {
    margin-top: 12vh;
    @include media($until: 'xl') {
      margin-top: 4vh;
    }
    @include media($until: 'sm') {
      margin-top: 0;
    }
    > .nav-item {
      > .nav-link {
        font-size: 6vh;
        padding-top: 0;
        padding-bottom: 0;
        @include media($until: 'xl') {
          font-size: 5vh;
          line-height: 1.1;
          padding-bottom: toRem(20);
        }
        @include media($until: 'sm') {
          font-size: 4vh;
          line-height: 1;
          padding-bottom: toRem(40);
          + .navbar-nav {
            margin-top: 0;
            top: -25px;
          }
        }
        border: 0;
        &:hover {
          -webkit-text-fill-color: $orange;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $orange;
        }
      }
      &.current_page_item {
        > .nav-link {
          color: $orange;
          -webkit-text-fill-color: $orange;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $orange;
        }
      }
      > .navbar-nav {
        position: relative;
        display: inline-block;
        margin-top: 5px;
        padding-bottom: 20px;
        @include media($until: 'sm') {
          padding-bottom: 0;
        }
        > .nav-item {
          margin-right: toRem(20);
          @include media($until: 'sm') {
            margin-right: toRem(10);
          }
          display: inline-block;
          > .nav-link {
            font-size: toRem(20);
            @include media($until: 'sm') {
              font-size: 2vh;
              line-height: 1;
            }
            padding: toRem(10) toRem(20) toRem(6);
            margin-bottom: toRem(25);
            @include media($until: 'sm') {
              margin-bottom: toRem(10);
              margin-right: 0;
            }
            @include dpf-button($white, $white, 1, 50);
            &:hover {
              -webkit-text-fill-color: $black;
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: $black;
            }
          }
          &.current_page_item {
            > .nav-link {
              color: $white;
              -webkit-text-fill-color: $white;
              -webkit-text-stroke-width: toRem(0.5);
              -webkit-text-stroke-color: $white;
              background-color: $orange;
              border: 0;
            }
          }
        }
      }
    }
  }
  @include media($from: 'lg') {
    .col-xl-5 {
      .navbar-nav {
        .navbar-nav {
          .nav-item {
            margin-right: inherit;
            margin-left: toRem(20);
            @include media($until: 'sm') {
              margin-right: toRem(10);
            }
          }
        }
      }
    }
  }
  &::after {
    position: absolute;
    right: -180px;
    bottom: -220px;
    content: '';
    width: 600px;
    height: 600px;
    @include media($until: 'sm') {
      width: 300px;
      height: 300px;
    }
    background-image: escape-svg($nav-bg-icon);
    background-repeat: no-repeat;
  }
  .container {
    padding-right: 6vw;
    padding-left: 6vw;
    @include media($until: 'xl') {
      padding: 0 40px;
    }
    .row {
      > div:last-child {
        .navbar-nav {
          text-align: right;
          @include media($until: 'xl') {
            text-align: left;
          }
        }
      }
    }
  }
}

header {
  &.shrink {
    position: fixed;
    @include media($until: 'sm') {
      height: inherit;
      top: 0;
    }
    .navbar {
      background-color: $white;
      transition: all 0.3s ease-in-out;
      &.navbar-dark {
        @include media($until: 'sm') {
          position: inherit;
        }
      }
      .navbar-brand {
        width: toRem(60);
        svg {
          @include media($until: 'sm') {
            width: inherit;
          }
        }
        margin: toRem(5) 0 toRem(5) toRem(60);
        @include media($until: 'sm') {
          margin-left: toRem(35);
        }
        transition: all 0.3s ease-in-out;
        &.light {
          svg {
            path {
              &[fill='#ffffff'] {
                fill: $black;
              }
            }
          }
        }
      }
      .navbar-metanav {
        color: $black;
        border-color: $black;
        &:hover {
          color: $white;
          background-color: $black;
        }
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          transition: all 0.3s ease;
          background-image: escape-svg($navbar-light-toggler-icon-bg);
        }
      }
    }
  }
}
