header {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: transparent;

  .navbar-brand {
    transition: all 0.2s ease;
    width: toRem(130);

    display: inline-block;
    &:hover {
      border: 0;
    }
  }
  .navbar-metanav {
    font-family: 'Miso Bold';
    letter-spacing: 1.8px;
    display: inline-block;
    padding: toRem(8) toRem(18) toRem(4);
    @include dpf-button($white, $white, 1, 20);
  }
}

.navi-open {
  header {
    padding-right: toRem(15);
    @include media($until: 'sm') {
      padding-right: toRem(0);
    }
    .navbar-dark {
      @include media($until: 'md') {
        &.blackBg {
          background-color: #282828 !important;
        }
      }
    }
  }
}
