header {
  position: fixed;
  width: 100%;
  height: toRem(200);
  z-index: 100;
  background-color: transparent;

  .navbar-brand {
    width: toRem(130);

    display: inline-block;
    &:hover {
      border: 0;
    }
  }
  .navbar-metanav {
    padding: toRem(8) toRem(18) toRem(4);
    @include dpf-button($white, $white, 1, 20);
  }
}
