.team-portraits-3col {
  background-color: $lightgrey;
  border: solid 2.5rem white;
  padding: 100px 0 100px !important;
  @include media($until: 'sm') {
    padding: 20px 0 20px !important;
    border: solid 1.2rem white;
  }
  .wp-block-column {
    @include media($until: 'sm') {
      padding-left: 35px !important;
      padding-right: 35px !important;
    }
    .wp-block-column {
      @include media($until: 'sm') {
        margin-top: 0;
        margin-bottom: 40px;
      }
      p {
        &:nth-child(2) {
          font-family: 'Poppins SemiBold';
          text-transform: uppercase;
          margin-top: toRem(5);
          margin-bottom: 0;
          @include media($until: 'sm') {
            margin: 0;
          }
        }
        &:nth-child(3) {
          margin-bottom: toRem(20);
        }
        &:nth-child(4) {
          a {
            text-transform: inherit;
            border-bottom: 1px solid $black;
            &:hover {
              border-bottom: 0;
            }
          }
        }
      }
      .wp-block-button__link {
        cursor: text;
        padding: toRem(10) toRem(10) toRem(5);
        margin-right: toRem(10);
        margin-bottom: toRem(10);
        text-transform: uppercase;
        &:hover {
          color: $black !important;
        }
        @include dpf-button($black, $yellow, 0, 50, 0);
        &.has-green-background-color {
          @include dpf-button($black, $green, 0, 50, 0);
        }
        &.has-orange-background-color {
          @include dpf-button($black, $orange, 0, 50, 0);
        }
        &.has-yellow-background-color {
          @include dpf-button($black, $yellow, 0, 50, 0);
        }
      }
    }
  }

  + .wp-block-uagb-section {
    border-top: 0;
  }
}
