.teaser-stripe {
  cursor: pointer;
  background-color: $orange;
  height: toRem(100);
  @include media($until: 'sm') {
    height: toRem(80);
  }
  .container {
    p {
      text-align: right;
      @include media($until: 'sm') {
        text-align: left;
      }
      padding-top: 28px;
      @include media($until: 'sm') {
        padding-top: 16px;
        padding-left: 10px;
      }
      margin-bottom: 0;
      a {
        font-family: 'Poppins SemiBold';
        color: $white;
        text-transform: uppercase;
        border-bottom: 0;
        @include media($until: 'sm') {
          font-size: toRem(17);
        }
        &:after {
          content: '';
          position: relative;
          top: toRem(7);
          background-image: escape-svg($arrow-right-white);
          width: toRem(30);
          height: toRem(30);
          margin-left: toRem(80);
          @include media($until: 'sm') {
            margin-left: toRem(10);
          }
          transition: margin-left 0.6s ease;
          display: inline-block;
        }
      }
    }
  }

  &:hover {
    a {
      &:hover {
        border-bottom: 0;
      }
      &:after {
        margin-left: toRem(20) !important;
      }
    }
  }
  &.uagb-section__wrap {
    padding-top: inherit;
    padding-bottom: inherit;
  }
}
