.teaser-curved-bg {
  @include media($from: 'lg') {
    padding: 0 !important;
  }
  border: solid 2.5rem white;
  @include media($until: 'sm') {
    border: solid 1.2rem white;
  }

  .uagb-section__inner-wrap {
    overflow: hidden;
    .container-lg {
      @include media($until: 'xl') {
        padding: 0;
      }

      .wp-block-group__inner-container {
        .wp-block-columns {
          .wp-block-column {
            .wp-block-button__link {
              @include dpf-button($white, $black, 0, 50);
            }
            .wp-block-image {
              @include media($until: 'xl') {
                margin-left: -19px;
                margin-right: -19px;
              }

              img {
                @include media($from: 'lg') {
                  position: absolute;
                  right: -50%;
                  top: 0;
                  height: auto;
                  bottom: 0;
                  margin: inherit;
                  //object-fit: cover;
                  z-index: 1;
                  width: 100%;
                }
              }
            }
            &:first-child {
              z-index: 1;
              padding: 80px 20px 80px 0;

              @include media($until: 'sm') {
                padding: 20px;
              }

              @include media($from: 'sm', $until: 'xl') {
                padding-left: toRem(25);
              }
            }
          }
        }
      }
    }
  }

  &.quote {
    blockquote {
      p {
        font-family: 'Miso Bold', sans-serif;
        font-size: toRem(45);
        @include media($until: 'sm') {
          font-size: toRem(25);
        }
      }
    }
  }
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
