.teaser-stripe-title-text-with-hover {
  background-color: $black;
  padding: 0;
  border: solid toRem(40) $white;
  cursor: pointer;
  @include media($until: 'sm') {
    border: solid toRem(20) $white;
  }
  color: $white;

  &.uagb-section__wrap {
    padding: 0;
    .wp-block-group {
      @include media($until: 'sm') {
        padding-left: 13px;
        padding-right: 13px;
      }
      &:not(:last-child) {
        border-bottom: 2px solid $white;
      }
    }
  }

  .container-fluid {
    padding: 80px 0;
    @include media($until: 'sm') {
      padding: 25px 0;
    }
    .container {
      @include media($from: 'xxl', $until: 1535px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      h3 {
        font-family: 'Miso Bold';
        letter-spacing: 3px;
        @include media($until: 'sm') {
          margin-bottom: 20px;
        }
      }
      p {
        margin-bottom: 20px;
        @include media($until: 'sm') {
          margin-bottom: 15px;
        }
      }
      a {
        color: $white;
      }
      .wp-block-buttons {
        margin-top: 30px;
      }
    }

    transition: background-color 0.9s ease;
    &:hover {
      background-color: $grey;
      color: $black;
      a {
        color: $black;
        &::after {
          content: '';
          background-image: escape-svg($arrow-right-black);
          background-repeat: no-repeat;
          background-position: 90% 0;
          @include media($until: 'sm') {
            background-position: 90% -7px;
          }

          padding-right: 45px;
        }
      }
    }
    @media (hover: none) {
      a {
        color: $white;
        &::after {
          content: '';
          background-image: escape-svg($arrow-right-white);
          background-repeat: no-repeat;
          background-position: 90% 0;
          @include media($until: 'sm') {
            background-position: 90% -7px;
          }
          padding-right: 45px;
        }
      }
    }
  }

  + .teaser-stripe-title-text-with-hover {
    border-bottom: 0;
  }
  + .cta-contact-section {
    border-top: 0;
  }

  &.no-links {
    cursor: default;
    &.uagb-section__wrap {
      .wp-block-group {
        @include media($until: 'sm') {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .container-fluid {
      padding: 80px 0;
      @include media($until: 'sm') {
        padding: 28px 0;
      }
      .container {
        cursor: auto;
        @include media($from: 'xxl', $until: 1535px) {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
      &:hover {
        color: inherit;
        background-color: inherit;
        cursor: default;
        a {
          &::after {
            padding-right: 0;
          }
        }
      }
    }
  }
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
