.teaser-2row-width-title {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
  }
  h4 {
    margin-bottom: toRem(40);
  }
  p {
    font-family: 'Poppins Regular';
    font-size: toRem(28);
    @include media($until: 'xl') {
      font-size: toRem(18);
    }
  }
  a:not(.wp-block-button__link) {
    border-bottom: 2px solid $black;
    &:hover {
      border-bottom: 0;
    }
  }
  background-color: $lightgrey;
  border: solid toRem(40) $white;
  @include media($until: 'sm') {
    border: solid toRem(20) $white;
  }
  .container {
    margin: toRem(100) auto;
    @include media($from: 'lg', $until: 'lg') {
      margin: toRem(30) auto toRem(30);
    }
    @include media($until: 'sm') {
      padding: 5px;
      margin: 20px auto 20px;
    }

    .wp-block-columns {
      .wp-block-column {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          h1,
          h2 {
            &.has-text-color {
              @include media($until: 'lg') {
                margin-top: toRem(30);
              }
            }
          }
        }
        .wp-block-image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  + .teaser-2row-width-title,
  + .cases-carousel-multicol,
  + .wp-block-uagb-section {
    border-top: 0;
  }
}
